<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily Help Apps</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/homepage.css"/>
    <link rel="icon" href="images/favicon.ico">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 header">
                <h1>Welcome to Daily Help Apps</h1>
            </div>
            <div class="col-sm-3 menu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/calculator">Online Calculator</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TBD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TBD 2</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 content">
                <div class="row">
                    <div class="col-sm-8">
                        <p class="intro salutation">Hello Friends,</p>
                        <p class="intro messageBody">
                            I am Ajeeth Kumar. I welcome you to Daily help applications. I created this website for
                            fun and learning. It includes various daily use applications such as online calculator,
                            TBD, TBD2.
                        </p>
                        <p class="intro messageBody">
                            I am still working on the website. There are a lot of things I need to add to it.
                        </p>
                        <p class="quoteHeader">
                            My Favourite Quote:
                        </p>
                        <p class="quote">
                            "Be Yourself; everyone else is already taken."
                        </p>
                        <p class="quoteAuthor">
                            - Oscar Wilde
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="images/ajeeth.jpeg" alt="Ajeeth Photo" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</body>
</html>